<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.TypeMapper" >
  <resultMap id="BaseResultMap" type="entity.Type" >
    <id column="typeId" property="typeid" jdbcType="INTEGER" />
    <result column="typeName" property="typename" jdbcType="VARCHAR" />
    <result column="photoURL" property="photourl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    typeId, typeName, photoURL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="entity.TypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from type
    where typeId = #{typeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from type
    where typeId = #{typeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="entity.TypeExample" >
    delete from type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entity.Type" >
    <selectKey resultType="java.lang.Integer" keyProperty="typeid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into type (typeName, photoURL)
    values (#{typename,jdbcType=VARCHAR}, #{photourl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.Type" >
    <selectKey resultType="java.lang.Integer" keyProperty="typeid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typename != null" >
        typeName,
      </if>
      <if test="photourl != null" >
        photoURL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="photourl != null" >
        #{photourl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entity.TypeExample" resultType="java.lang.Integer" >
    select count(*) from type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update type
    <set >
      <if test="record.typeid != null" >
        typeId = #{record.typeid,jdbcType=INTEGER},
      </if>
      <if test="record.typename != null" >
        typeName = #{record.typename,jdbcType=VARCHAR},
      </if>
      <if test="record.photourl != null" >
        photoURL = #{record.photourl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update type
    set typeId = #{record.typeid,jdbcType=INTEGER},
      typeName = #{record.typename,jdbcType=VARCHAR},
      photoURL = #{record.photourl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Type" >
    update type
    <set >
      <if test="typename != null" >
        typeName = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="photourl != null" >
        photoURL = #{photourl,jdbcType=VARCHAR},
      </if>
    </set>
    where typeId = #{typeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Type" >
    update type
    set typeName = #{typename,jdbcType=VARCHAR},
      photoURL = #{photourl,jdbcType=VARCHAR}
    where typeId = #{typeid,jdbcType=INTEGER}
  </update>
</mapper>